.about-center-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.about-large-header {
    font-size: 4em;
    color: white;
    line-height:80px;
}

.about-hi {
    font-size: 20em;
    font-weight: bolder;
}