.lib-container {
    position: relative;
    cursor: pointer;
    flex-basis: 25%;
    min-width: 20vh;
    flex-grow: 1;
    height: 50vh;
    background-size: auto 100%;
    background-position: center;
    border: 0px solid white;
    overflow: hidden;
    ;
}

.lib-text-container {
    position: absolute;
    left: 0;
    bottom: 10%;
    max-width: 75%;
    padding: 5px 10px 5px 5px;
    background-color: black;
    color: white;
}

.lib-text-title {
    font-size: 1.5em;
    font-weight: bolder;
    
}

.lib-text-subtitle {
    font-size: 0.7em;
    text-transform: uppercase;
}