body {
  background-color: #eeeeee;
  color: rgb(32, 32, 32);
}

a {
  color: #DA4167;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.hr-bold-black {
  background-color: black;
  width: 100%;
  height: 10px;
}

.naviation-container {
  position: absolute;
  top: 30px;
  left: 30px;
  right: 30px;
  z-index: 1000;
}

.content-container {
  margin: 190px 30px 30px 30px;
  z-index: 500;
}

.trailsText {
  position: relative;
  width: 100%;
  height: 100px;
  line-height: 80px;
  color: black;
  font-size: 5em;
  font-weight: 800;
  letter-spacing: -0.05em;
  will-change: transform, opacity;
  overflow: hidden;
}

.trailsText>div {
  padding-right: 0.05em;
  overflow: hidden;
}